<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ProxyGPT</string>

    <key>CFBundleDisplayName</key>
    <string>ProxyGPT</string>

    <key>CFBundleIdentifier</key>
    <string>com.github.pokatomnik.proxygpt</string>

    <key>CFBundleIconFile</key>
    <string>icon-chatgpt</string>

    <key>CFBundleExecutable</key>
    <string>launcher</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>LSBackgroundOnly</key>
    <true/>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
</dict>
</plist>
